In [1]:
import pandas as pd
import numpy as np

In [2]:
skuinfo = pd.read_csv('skuinfo.csv', header = None, sep = ',', dtype = 'str', 
                      names = ['SKU', 'DEPT','CLASSID','UPC','STYLE','COLOR','SIZE','PACKSIZE','VENDOR','BRAND','UNKNOWN1','UNKNOWN2','UNKNOWN3'])

In [3]:
skuinfo

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND,UNKNOWN1,UNKNOWN2,UNKNOWN3
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,0,NaN,NaN
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,0,NaN,NaN
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,0,NaN,NaN
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,0,NaN,NaN
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA,0,NaN,NaN
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN,0,NaN,NaN
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA,0,NaN,NaN
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET,0,NaN,NaN
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE,0,NaN,NaN

In [4]:
skuinfo.drop(['UNKNOWN1','UNKNOWN2','UNKNOWN3'],axis=1,inplace=True)

In [5]:
skuinfo

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA
...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE

In [6]:
skuinfo['SIZE'] = skuinfo['SIZE'].str.strip()

# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: None if x == 'NOSIZE' else x)
# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: None if x == 'NO SIZE' else x)

# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: None if x == '' else x)
# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: None if x == 'NA' else x)

In [7]:
skuinfo['SIZE'] = skuinfo['SIZE'].str.strip()

#skuinfo[skuinfo['SIZE']==None]

In [8]:
valuecount=skuinfo['SIZE'].value_counts()

In [9]:
count_df = pd.DataFrame({'Category': valuecount.index, 'Count': valuecount.values})
count_df.iloc[50:70]

   Category  Count
50     P064   4553
51       22   4212
52     105M   4011
53      XLT   3920
54       4X   3910
55      2XT   3888
56      3XT   3783
57      18W   3537
58  NO SIZE   3432
59      22W   3427
60      20W   3420
61      16W   3354
62       28   3261
63      24W   3205
64      4XT   3173
65       29   3081
66       31   3030
67       34   3014
68       36   2981
69        P   2957

In [10]:
skuinfo[skuinfo['SIZE']=='NO SIZE']

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
99,425,2200,009,000400000425000,0771,00-S'03,NO SIZE,1,0113645,LANCOME
100,426,2200,009,000400000426000,0768,02-VIOLET,NO SIZE,1,0113645,LANCOME
136,604,4402,401,000400000604000,74648,TURQ,NO SIZE,1,5316178,ERICA LY
234,1125,4402,201,000400001125000,93560,SILVER,NO SIZE,1,5316178,ERICA LY
1181,8060,8000,006,000400008060000,3 110923,CORP GWP,NO SIZE,6,9113491,CALVIN K
...,...,...,...,...,...,...,...,...,...,...
1562739,9990425,2200,009,000400000425999,0768,01-NOIR MA,NO SIZE,1,0113645,LANCOME
1562867,9991124,4402,101,000400001124999,93559,GOLD,NO SIZE,1,5316178,ERICA LY
1562995,9991712,7200,007,000400001712999,150 FP3281,DAZZLING DUO,NO SIZE,6,9014533,KC REACT
1563559,9996713,2200,009,000400006713999,8994,39-METALLI,NO SIZE,1,0113645,LANCOME
1564114,9999764,4402,403,000400009764999,65419,NATURAL,NO SIZE,1,5316178,ERICA LY

In [11]:
skuinfo = skuinfo[~skuinfo['SIZE'].isin(['NOSIZE', 'NO SIZE'])]
skuinfo

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA
...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE

In [12]:
# na_variations = ['n/a', 'na', 'not applicable', 'none', 'n.a', 'n.a.', 'n.a..', 'naa', 'naaa', 'n/a?', 'n/a!', 'N/A']

# skuinfo[skuinfo['SIZE'].isin(na_variations)]

In [13]:
# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: 'NA' if x == 'NO SIZE' else x)
# skuinfo['SIZE'] = skuinfo['SIZE'].apply(lambda x: 'NA' if x == '' else x)

In [14]:
# skuinfo[skuinfo.isna().any(axis=1)]

In [15]:
na_variations = ['n/a', 'na', 'not applicable', 'none', 'n.a', 'n.a.', 'n.a..', 'naa', 'naaa', 'n/a?', 'n/a!', 'N/A']
skuinfo['STYLE'] = skuinfo['STYLE'].astype(str)
skuinfo['STYLE'] = skuinfo['STYLE'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['STYLE'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['STYLE'] = skuinfo['STYLE'].str.upper()
skuinfo['STYLE'] = skuinfo['STYLE'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['STYLE'] = skuinfo['STYLE'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/3580239465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['STYLE'] = skuinfo['STYLE'].astype(str)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/3580239465.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['STYLE'] = skuinfo['STYLE'].str.lower()
/Users/judyzhu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/3580239465.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['STYLE'] = skuinfo['STYLE'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/3580239465.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['STYLE'] = skuinfo['STYLE'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/3580239465.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['STYLE'] = skuinfo['STYLE'].apply(lambda x: None if x == '' else x)

In [16]:
skuinfo['SIZE'].isnull().sum()

0

In [17]:
skuinfo[skuinfo['SIZE']==' ']

Empty DataFrame
Columns: [SKU, DEPT, CLASSID, UPC, STYLE, COLOR, SIZE, PACKSIZE, VENDOR, BRAND]
Index: []

In [18]:
#,'STYLE','SIZE'

In [19]:
# Replace 'N/A' with None (case-insensitive)
# skuinfo['COLOR'] = skuinfo['COLOR'].astype(str)
# skuinfo['COLOR'] = skuinfo['COLOR'].str.replace('N/A', '').str.strip()
# skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x.lower() == 'na' else x)
# skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x == '' else x)

In [20]:
na_variations = ['n/a', 'na', 'not applicable', 'none', 'n.a', 'n.a.', 'n.a..', 'naa', 'naaa', 'n/a?', 'n/a!', 'N/A']
skuinfo['COLOR'] = skuinfo['COLOR'].astype(str)
skuinfo['COLOR'] = skuinfo['COLOR'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['COLOR'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['COLOR'] = skuinfo['COLOR'].str.upper()
skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/171393974.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['COLOR'] = skuinfo['COLOR'].astype(str)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/171393974.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['COLOR'] = skuinfo['COLOR'].str.lower()
/Users/judyzhu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/171393974.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['COLOR'] = skuinfo['COLOR'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/171393974.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/171393974.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x == '' else x)

In [21]:
skuinfo[skuinfo.isna().any(axis=1)]
#mask = df.apply(lambda row: row.astype(str).str.contains(search_string, case=False).any(), axis=1)
skuinfo.dropna()

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA
...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE

In [22]:
#skuinfo['PACKSIZE'].astype(int)

In [23]:
na_variations = ['n/a', 'na', 'not applicable', 'none', 'n.a', 'n.a.', 'n.a..', 'naa', 'naaa', 'n/a?', 'n/a!', 'N/A']
skuinfo['SKU'] = skuinfo['SKU'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['SKU'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['SKU'] = skuinfo['SKU'].str.upper()
skuinfo['SKU'] = skuinfo['SKU'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['SKU'] = skuinfo['SKU'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/370390216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['SKU'] = skuinfo['SKU'].str.lower()
/Users/judyzhu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/370390216.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['SKU'] = skuinfo['SKU'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/370390216.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['SKU'] = skuinfo['SKU'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/370390216.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['SKU'] = skuinfo['SKU'].apply(lambda x: None if x == '' else x)

In [24]:
skuinfo['DEPT'] = skuinfo['DEPT'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['DEPT'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['DEPT'] = skuinfo['DEPT'].str.upper()
skuinfo['DEPT'] = skuinfo['DEPT'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['DEPT'] = skuinfo['DEPT'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/621896734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['DEPT'] = skuinfo['DEPT'].str.lower()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/621896734.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['DEPT'] = skuinfo['DEPT'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/621896734.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['DEPT'] = skuinfo['DEPT'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/621896734.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['DEPT'] = skuinfo['DEPT'].apply(lambda x: None if x == '' else x)

In [25]:
skuinfo['CLASSID'] = skuinfo['CLASSID'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['CLASSID'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['CLASSID'] = skuinfo['CLASSID'].str.upper()
skuinfo['CLASSID'] = skuinfo['CLASSID'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['CLASSID'] = skuinfo['CLASSID'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2455299924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['CLASSID'] = skuinfo['CLASSID'].str.lower()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2455299924.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['CLASSID'] = skuinfo['CLASSID'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2455299924.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['CLASSID'] = skuinfo['CLASSID'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2455299924.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['CLASSID'] = skuinfo['CLASSID'].apply(lambda x: None if x == '' else x)

In [26]:
skuinfo['UPC'] = skuinfo['UPC'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['UPC'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['UPC'] = skuinfo['UPC'].str.upper()
skuinfo['UPC'] = skuinfo['UPC'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['UPC'] = skuinfo['UPC'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/473284889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['UPC'] = skuinfo['UPC'].str.lower()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/473284889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['UPC'] = skuinfo['UPC'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/473284889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['UPC'] = skuinfo['UPC'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/473284889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['UPC'] = skuinfo['UPC'].apply(lambda x: None if x == '' else x)

In [27]:
skuinfo['PACKSIZE']=skuinfo['PACKSIZE'].astype(str)
skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.replace('ONE', '1').str.strip()

skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.lower()

# Replace all 'na' variations with 'na' (case-insensitive)
skuinfo['PACKSIZE'].replace(na_variations, 'na', regex=True, inplace=True)

# Convert 'na' back to uppercase in the original column
skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.upper()
skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].apply(lambda x: None if x.lower() == 'na' else x)
skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].apply(lambda x: None if x == '' else x)

/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE']=skuinfo['PACKSIZE'].astype(str)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.replace('ONE', '1').str.strip()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.lower()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].str.upper()
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].apply(lambda x: None if x.lower() == 'na' else x)
/var/folders/3l/jn4gt4rs4mg4gw9b4dzw4t7h0000gn/T/ipykernel_71792/2045234136.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skuinfo['PACKSIZE'] = skuinfo['PACKSIZE'].apply(lambda x: None if x == '' else x)

In [28]:
#drop all na
skuinfo.dropna(inplace=True)

/Users/judyzhu/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [29]:
skuinfo[skuinfo.isna().any(axis=1)]

Empty DataFrame
Columns: [SKU, DEPT, CLASSID, UPC, STYLE, COLOR, SIZE, PACKSIZE, VENDOR, BRAND]
Index: []

In [30]:
skuinfo = skuinfo[skuinfo['PACKSIZE'].str.match(r'^\d+$')]
skuinfo = skuinfo[skuinfo['CLASSID'].str.match(r'^[0-9]+$')]
skuinfo

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA
5,20,6006,711,000400000020000,669N26,NEWPORT NA,090N,1,0060904,BROWN SH
...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE

In [36]:
skuinfo['COLOR'].str.strip().unique()

array(['WHISPERWHITE', 'SPEARMI', '34 SILVER', ..., 'LR078-280',
       '01171020', '10BERRY'], dtype=object)

In [46]:
skuinfo['SKU']=skuinfo['SKU'].astype(int)
skuinfo['DEPT']=skuinfo['DEPT'].astype(int)
skuinfo['PACKSIZE']=skuinfo['PACKSIZE'].astype(int)

In [47]:
skuinfo[skuinfo['SKU'].isna()]

Empty DataFrame
Columns: [SKU, DEPT, CLASSID, UPC, STYLE, COLOR, SIZE, PACKSIZE, VENDOR, BRAND]
Index: []

In [48]:
file_path = 'cleansku.csv'  # Replace with your desired file path

# Save the DataFrame to a CSV file
skuinfo.to_csv(file_path, index=False)  #

In [ ]:
# skuinfo

In [ ]:
# skuinfo['PACKSIZE'].astype(int)


na_variations = ['n/a', 'na', 'not applicable', 'none', 'n.a', 'n.a.', 'n.a..', 'naa', 'naaa', 'n/a?', 'n/a!', 'N/A']
skuinfo['COLOR'] = skuinfo['COLOR'].astype(str)
#filtered_rows = skuinfo[skuinfo['COLOR'].str.contains('N/A', case=False).fillna(False)]
skuinfo['COLOR']=skuinfo['COLOR'].replace(na_variations, 'na', regex=True, inplace=True)
skuinfo['COLOR'] = skuinfo['COLOR'].str.upper()

skuinfo

In [ ]:
# skuinfo[skuinfo.isna().any(axis=1)]
#mask = df.apply(lambda row: row.astype(str).str.contains(search_string, case=False).any(), axis=1)
# skuinfo.dropna()

In [ ]:
# skuinfo['COLOR'] = skuinfo['COLOR'].str.replace('N/A', '').str.strip()
# skuinfo['COLOR'] = skuinfo['COLOR'].apply(lambda x: None if x.lower() == 'na' else x)

In [ ]:
# skuinfo[skuinfo.isna().any(axis=1)]
#mask = df.apply(lambda row: row.astype(str).str.contains(search_string, case=False).any(), axis=1)
# skuinfo.dropna()

###### null_data = skuinfo[skuinfo.isnull().any(axis=1)]
null_data

In [ ]:
skuinfo2 = pd.read_csv('skuinfoclean.csv')
skuinfo2.drop(['Unnamed: 0'],axis=1,inplace=True)
skuinfo2

In [ ]:
names = ['SKU', 'DEPT','CLASSID','UPC','STYLE','COLOR','SIZE','PACKSIZE','VENDOR','BRAND']

In [ ]:
skuinfo['SIZE'].isnull().sum()

In [ ]:
#so for now, only sizes are missing from the data. the question is whether it matters
skuinfo.isnull().any(axis=1).sum()

In [ ]:
skuinfo.size

In [ ]:
len(skuinfo['SKU'].unique())

In [ ]:

unique_sku_count = skuinfo['SKU'].nunique()
unique_sku_count

In [ ]:
#best selling brands 
brand_counts = skuinfo['BRAND'].value_counts().head(10)
brand_counts

In [ ]:
vendor_counts = skuinfo['VENDOR'].value_counts().head(10)
vendor_counts

In [ ]:

try:
    pd.to_numeric(skuinfo['VENDOR'], errors='raise')
    # If the above line executes without raising an error, it means all values are numeric.
    print(f'All values in column  are numeric.')
except ValueError:
    # If a ValueError is raised, it means there are non-numeric values in the column.
    print(f'Some values in column  are not numeric.')